:root { 
--gray_400:#c4c4c4; 
--red_A400_7e:#ff21477e; 
--gray_900:#1a141f; 
--bluegray_100:#d9d1e0; 
--gray_100:#f5f2f7; 
--bluegray_800:#4a3b59; 
--deep_purple_A200:#9e40e8; 
--purple_800:#611f91; 
--bluegray_900_7f:#3d124d7f; 
--pink_600:#d61a52; 
--purple_A200_7e:#f23dc97e; 
--purple_A400_7e:#c900cf7e; 
--white_A700:#ffffff; 
}